In [1]:
import pandas as pd
import re
import pickle

data cleaning

In [2]:
all_city_cars_df=pd.read_csv(r"C:\Users\jaguh\OneDrive\Desktop\car dekho2\all_city_cars.csv")
all_city_cars_df

C:\Users\jaguh\AppData\Local\Temp\ipykernel_23480\880688332.py:1: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  all_city_cars_df=pd.read_csv(r"C:\Users\jaguh\OneDrive\Desktop\car dekho2\all_city_cars.csv")

,Tyre Type,Mileage,trendingText.heading,Top_Features,Ownership_value,Insurance Validity_icon,Rear Brake Type,Turning Radius,Ground Clearance Unladen,it,...,Common_Icon,Common_Icon.1,Front Brake Type,Max Power,RTO_icon,Insurance Validity_value,Kms Driven_value,Seats_icon,Ownership_icon,Year of Manufacture_value
0,"Tubeless, Radial",NaN,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",First Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,NaN,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Disc,118.36bhp@6000rpm,https://images10.gaadi.com/listing/vdp/co/v1/r...,Third Party insurance,"20,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2022.0
1,Tubeless Tyres,15.37 kmpl,Trending Car!,"['Low Fuel Warning Light', 'Accessory Power Ou...",First Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,4.5 metres,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Ventilated Disc,73bhp@6000rpm,https://images10.gaadi.com/listing/vdp/co/v1/r...,Comprehensive,"20,687 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2015.0
2,"Tubeless,Radial",20 kmpl,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",First Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,5.0,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Disc,98.63bhp@5000rpm,https://images10.gaadi.com/listing/vdp/co/v1/r...,Third Party insurance,"30,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2021.0
3,Tubeless,19.81 kmpl,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",First Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,4.7 metres,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Ventilated Disc,68.05bhp@5500rpm,https://images10.gaadi.com/listing/vdp/co/v1/r...,Comprehensive,"59,247 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2015.0
4,"Tubeless,Radial",18.7 kmpl,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",First Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,5.1 meters,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Disc,88.7bhp@6000rpm,https://images10.gaadi.com/listing/vdp/co/v1/r...,Third Party insurance,"50,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,"Tubeless, Radial",25.24 kmpl,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",First Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,NaN,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Ventilated Disc,65.71bhp@5500rpm,NaN,Third Party insurance,"10,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2022.0
8365,Tubeless Tyres,22.74 kmpl,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",First Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,4.6 metres,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Solid Disc,47.3bhp@6000rpm,NaN,Third Party insurance,"1,20,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2014.0
8366,"Tubeless,Radial",11.74 kmpl,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",Third Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Solid Disc,5.42 metres,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Ventilated Disc,186bhp@5600rpm,https://images10.gaadi.com/listing/vdp/co/v1/r...,Third Party insurance,"50,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2011.0
8367,"Tubeless,Radial",18.5 kmpl,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",First Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,4.7 metres,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Ventilated Disc,85.80bhp@6000rpm,NaN,Third Party insurance,"40,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2012.0
8368,"Tubeless,Radial",19.72 kmpl,Trending Car!,"['Power Steering', 'Power Windows Front', 'Air...",Second Owner,https://images10.gaadi.com/listing/vdp/co/v1/i...,Drum,5.2 metres,NaN,0,...,https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg,NaN,Disc,108.45bhp@4000rpm,NaN,Third Party insurance,"1,20,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/s...,https://images10.gaadi.com/listing/vdp/co/v1/o...,2017.0

In [ ]:
all_city_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 84 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Tyre Type                  8292 non-null   object
 1   Mileage                    8082 non-null   object
 2   trendingText.heading       8369 non-null   object
 3   Top_Features               8369 non-null   object
 4   Ownership_value            8337 non-null   object
 5   Insurance Validity_icon    8365 non-null   object
 6   Rear Brake Type            8273 non-null   object
 7   Turning Radius             6769 non-null   object
 8   Ground Clearance Unladen   515 non-null    object
 9   it                         8369 non-null   int64
 10  No Door Numbers            8358 non-null   float64
 11  Engine Type                8074 non-null   object
 12  Super Charger              6407 non-null   object
 13  modelYear                  8369 non-null   int64
 14  Fuel Type_icon             8369 non-null   object
 15  RTO_value                  7475 non-null   object
 16  Steering Type              8114 non-null   object
 17  priceSaving                0 non-null      float64
 18  Wheel Base                 8206 non-null   object
 19  Width                      8286 non-null   object
 20  Value Configuration        6153 non-null   object
 21  trendingText.imgUrl        8369 non-null   object
 22  Color                      8366 non-null   object
 23  km                         8369 non-null   object
 24  priceFixedText             0 non-null      float64
 25  Alloy Wheel Size           5386 non-null   object
 26  Top Speed                  4607 non-null   object
 27  Registration Year_value    8317 non-null   object
 28  Engine                     8365 non-null   object
 29  Height                     8290 non-null   object
 30  Gross Weight               3828 non-null   object
 31  Year of Manufacture_icon   8349 non-null   object
 32  trendingText.desc          8369 non-null   object
 33  Drive Type                 6809 non-null   object
 34  Wheel Size                 5386 non-null   object
 35  Registration Year_icon     8317 non-null   object
 36  transmission               8369 non-null   object
 37  Engine Displacement_icon   8365 non-null   object
 38  Transmission_value         8369 non-null   object
 39  Max Torque                 8309 non-null   object
 40  Seats_value                8363 non-null   object
 41  Front Tread                4811 non-null   object
 42  price                      8369 non-null   object
 43  Fuel Type_value            8369 non-null   object
 44  bt                         8365 non-null   object
 45  Seating Capacity           8363 non-null   float64
 46  car_links                  8369 non-null   object
 47  Fuel Suppy System          6642 non-null   object
 48  Cargo Volumn               6776 non-null   object
 49  priceActual                1670 non-null   object
 50  BoreX Stroke               2405 non-null   object
 51  Length                     8290 non-null   object
 52  Compression Ratio          1895 non-null   object
 53  Gear Box                   8263 non-null   object
 54  owner                      8369 non-null   object
 55  Displacement               8365 non-null   float64
 56  oem                        8369 non-null   object
 57  Acceleration               4857 non-null   object
 58  No of Cylinder             8338 non-null   float64
 59  ft                         8369 non-null   object
 60  Kms Driven_icon            8367 non-null   object
 61  Transmission_icon          8369 non-null   object
 62  Torque                     8309 non-null   object
 63  Turbo Charger              7329 non-null   object
 64  centralVariantId           8369 non-null   int64
 65  Values per Cylinder        8318 non-null   float64
 66  city                       8369 non-null   object
 67  Rear Tread                 4799 non-null   object
 68  variantName                8369 non-null   object
 69  Seats                      8363 non-null   float64
 70  Engine Displacement_value  8365 non-null   object
 71  model                      8369 non-null   object
 72  Kerb Weight                8310 non-null   object
 73  ownerNo                    8369 non-null   int64
 74  Common_Icon                8369 non-null   object
 75  Common_Icon.1              0 non-null      float64
 76  Front Brake Type           8273 non-null   object
 77  Max Power                  8309 non-null   object
 78  RTO_icon                   7481 non-null   object
 79  Insurance Validity_value   8365 non-null   object
 80  Kms Driven_value           8367 non-null   object
 81  Seats_icon                 8363 non-null   object
 82  Ownership_icon             8337 non-null   object
 83  Year of Manufacture_value  8349 non-null   float64
dtypes: float64(10), int64(4), object(70)
memory usage: 5.4+ MB

In [4]:
# Engine Displacement_value  and Engine_value are same column so drop any one column,
# Kms Driven_value   and  km   are same column so drop any one column
# owner,Ownership_value and ownerNo are same column so drop any TWO column,....Many Columns Like This and Droped the all icon columns
# Drop The Columns with more null values


# List of columns to drop
columns_to_drop = ['Ground Clearance Unladen', 'Value Configuration', 'trendingText.heading', 'Ownership_icon', 
                   'Top_Features', 'priceFixedText','Wheel Size','RTO_value','Cargo Volumn','Alloy Wheel Size', 'Kms Driven_value',
                   'Steering Type','it', 'Turning Radius', 'priceSaving', 'Kms Driven_icon', 'trendingText.desc', 'Engine Type', 
                   'car_links', 'Insurance Validity_icon', 'Seats_icon', 'Rear Tread', 'Super Charger','Wheel Base',
                   'Common_Icon', 'Common_Icon.1','Front Tread','BoreX Stroke', 'Drive Type', 'priceActual', 'Engine Displacement_icon', 
                   'Transmission_icon', 'Year of Manufacture_icon','Turbo Charger', 'Rear Brake Type', 'trendingText.imgUrl', 'Top Speed', 'RTO_icon', 
                   'Acceleration', 'Fuel Suppy System', 'Gross Weight','Height','Compression Ratio', 'Fuel Type_icon', 
                   'Registration Year_icon','Front Brake Type','Gear Box','owner','Max Power','Seating Capacity','Seats_value','Ownership_value',
                   'Kerb Weight','Fuel Type_value','Displacement','No Door Numbers','Values per Cylinder','Max Torque','centralVariantId',
                   'Transmission_value','Engine','Tyre Type','variantName','Year of Manufacture_value','Registration Year_value','No of Cylinder','Torque']

# Drop the columns from the DataFrame
all_city_cars_df = all_city_cars_df.drop(columns=columns_to_drop, errors='ignore')

In [5]:
all_city_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Mileage                    8082 non-null   object
 1   modelYear                  8369 non-null   int64
 2   Width                      8286 non-null   object
 3   Color                      8366 non-null   object
 4   km                         8369 non-null   object
 5   transmission               8369 non-null   object
 6   price                      8369 non-null   object
 7   bt                         8365 non-null   object
 8   Length                     8290 non-null   object
 9   oem                        8369 non-null   object
 10  ft                         8369 non-null   object
 11  city                       8369 non-null   object
 12  Seats                      8363 non-null   float64
 13  Engine Displacement_value  8365 non-null   object
 14  model                      8369 non-null   object
 15  ownerNo                    8369 non-null   int64
 16  Insurance Validity_value   8365 non-null   object
dtypes: float64(1), int64(2), object(14)
memory usage: 1.1+ MB

In [6]:
all_city_cars_df

,Mileage,modelYear,Width,Color,km,transmission,price,bt,Length,oem,ft,city,Seats,Engine Displacement_value,model,ownerNo,Insurance Validity_value
0,NaN,2022,1790,Black,"20,000",Automatic,₹ 11.50 Lakh,SUV,3995mm,Kia,Petrol,chennai,5.0,998 cc,Kia Sonet,1,Third Party insurance
1,15.37 kmpl,2015,1475mm,Grey,"20,687",Manual,₹ 4.15 Lakh,Minivans,3675mm,Maruti,Petrol,chennai,7.0,1196 cc,Maruti Eeco,1,Comprehensive
2,20 kmpl,2021,1758,Others,"30,000",Manual,₹ 7.50 Lakh,SUV,3994mm,Nissan,Petrol,chennai,5.0,999 cc,Nissan Magnite,1,Third Party insurance
3,19.81 kmpl,2015,1595mm,Silver,"59,247",Manual,₹ 3.98 Lakh,Hatchback,3585mm,Hyundai,Petrol,chennai,5.0,1086 cc,Hyundai i10,1,Comprehensive
4,18.7 kmpl,2015,1694mm,Others,"50,000",Manual,₹ 5.50 Lakh,Hatchback,3955mm,Honda,Petrol,chennai,5.0,1199 cc,Honda Jazz,1,Third Party insurance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,25.24 kmpl,2022,1655,Others,"10,000",Manual,₹ 5.10 Lakh,Hatchback,3695mm,Maruti,Petrol,Kolkata,5.0,998 cc,Maruti Celerio,1,Third Party insurance
8365,22.74 kmpl,2014,1490mm,Others,"1,20,000",Manual,₹ 1.80 Lakh,Hatchback,3395mm,Maruti,Petrol,Kolkata,5.0,796 cc,Maruti Alto 800,1,Third Party insurance
8366,11.74 kmpl,2011,1770mm,Others,"50,000",Automatic,₹ 5.50 Lakh,Sedan,4591mm,Mercedes-Benz,Petrol,Kolkata,5.0,1796 cc,Mercedes-Benz C-Class,3,Third Party insurance
8367,18.5 kmpl,2012,1680mm,Others,"40,000",Manual,₹ 1.40 Lakh,Hatchback,3775mm,Maruti,Petrol,Kolkata,5.0,1197 cc,Maruti Ritz,1,Third Party insurance
8368,19.72 kmpl,2017,1822mm,Others,"1,20,000",Manual,₹ 5 Lakh,SUV,4315mm,Renault,Diesel,Kolkata,5.0,1461 cc,Renault Duster,2,Third Party insurance

working on missing values

In [7]:
missing_values = all_city_cars_df.isnull().sum()
print(missing_values[missing_values > 0])

Mileage                      287
Width                         83
Color                          3
bt                             4
Length                        79
Seats                          6
Engine Displacement_value      4
Insurance Validity_value       4
dtype: int64

In [8]:
# Fill missing 'bt' (body type) values by propagating values within the same 'model'
all_city_cars_df['bt'] = all_city_cars_df.groupby('model')['bt'].transform(lambda group: group.ffill().bfill())


# If any missing values remain, fill them with the most common 'bt' value
all_city_cars_df['bt'].fillna(all_city_cars_df['bt'].mode()[0], inplace=True)

C:\Users\jaguh\AppData\Local\Temp\ipykernel_23480\596607894.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_city_cars_df['bt'] = all_city_cars_df.groupby('model')['bt'].transform(lambda group: group.ffill().bfill())
C:\Users\jaguh\AppData\Local\Temp\ipykernel_23480\596607894.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_city_cars_df['bt'].fillna(all_city_cars_df['bt'].mode()[0], inplace=True)

In [9]:
# Fill missing 'Seats_value values by propagating values within the same 'model'
all_city_cars_df['Seats'] = all_city_cars_df.groupby('model')['Seats'].transform(lambda group: group.ffill().bfill())
# Handling remaining columns as needed
all_city_cars_df['Engine Displacement_value']=all_city_cars_df.groupby('model')['Engine Displacement_value'].transform(lambda group: group.ffill().bfill())
all_city_cars_df['Insurance Validity_value'].fillna(all_city_cars_df['Insurance Validity_value'].mode()[0], inplace=True)

C:\Users\jaguh\AppData\Local\Temp\ipykernel_23480\3254742270.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_city_cars_df['Insurance Validity_value'].fillna(all_city_cars_df['Insurance Validity_value'].mode()[0], inplace=True)

In [10]:
# Fill missing 'Mileage_value'  values by propagating values within the same 'model'
all_city_cars_df['Mileage_value(Kmpl)'] = all_city_cars_df.groupby('model')['Mileage'].transform(lambda group: group.ffill().bfill())
all_city_cars_df.drop(columns='Mileage',inplace=True)

all_city_cars_df['Length'] = all_city_cars_df.groupby('model')['Length'].transform(lambda group: group.ffill().bfill())
all_city_cars_df['Width'] = all_city_cars_df.groupby('model')['Width'].transform(lambda group: group.ffill().bfill())

C:\Users\jaguh\AppData\Local\Temp\ipykernel_23480\1083307966.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_city_cars_df['Mileage_value(Kmpl)'] = all_city_cars_df.groupby('model')['Mileage'].transform(lambda group: group.ffill().bfill())
C:\Users\jaguh\AppData\Local\Temp\ipykernel_23480\1083307966.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_city_cars_df['Length'] = all_city_cars_df.groupby('model')['Length'].transform(lambda group: group.ffill().bfill())
C:\Users\jaguh\AppData\Local\Temp\ipykernel_23480\1083307966.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_city_cars_df['Width'] = all_city_cars_df.groupby('model')['Width'].transform(lambda group: group.ffill().bfill())

In [11]:
missing_values = all_city_cars_df.isnull().sum()
print(missing_values[missing_values > 0])

Width                  10
Color                   3
Length                 10
Seats                   3
Mileage_value(Kmpl)    76
dtype: int64

In [12]:
# Remove rows with null values in specified columns
all_city_cars_df.dropna(subset='Mileage_value(Kmpl)',inplace=True)

standardizing data formats

In [13]:
# Ensure 'km' is treated as a string, remove commas, and convert to integer safely
all_city_cars_df['km'] = all_city_cars_df['km'].astype(str).str.replace(',', '')

# Use pd.to_numeric to convert, coercing errors to NaN
all_city_cars_df['km'] = pd.to_numeric(all_city_cars_df['km'], errors='coerce')
all_city_cars_df.head()

,modelYear,Width,Color,km,transmission,price,bt,Length,oem,ft,city,Seats,Engine Displacement_value,model,ownerNo,Insurance Validity_value,Mileage_value(Kmpl)
0,2022,1790,Black,20000,Automatic,₹ 11.50 Lakh,SUV,3995mm,Kia,Petrol,chennai,5.0,998 cc,Kia Sonet,1,Third Party insurance,18.2 kmpl
1,2015,1475mm,Grey,20687,Manual,₹ 4.15 Lakh,Minivans,3675mm,Maruti,Petrol,chennai,7.0,1196 cc,Maruti Eeco,1,Comprehensive,15.37 kmpl
2,2021,1758,Others,30000,Manual,₹ 7.50 Lakh,SUV,3994mm,Nissan,Petrol,chennai,5.0,999 cc,Nissan Magnite,1,Third Party insurance,20 kmpl
3,2015,1595mm,Silver,59247,Manual,₹ 3.98 Lakh,Hatchback,3585mm,Hyundai,Petrol,chennai,5.0,1086 cc,Hyundai i10,1,Comprehensive,19.81 kmpl
4,2015,1694mm,Others,50000,Manual,₹ 5.50 Lakh,Hatchback,3955mm,Honda,Petrol,chennai,5.0,1199 cc,Honda Jazz,1,Third Party insurance,18.7 kmpl

In [14]:
def convert_numeric(value):
    new = value.replace("₹", "").replace(',', '').strip()
    if "Lakh" in new:
        return float(new.replace('Lakh', '').strip()) * 1e5
    elif "Crore" in new:
        return float(new.replace("Crore", "").strip()) * 1e7
    else:
        return float(new)

# Apply the function to the 'price' column correctly
all_city_cars_df["price"] = all_city_cars_df["price"].apply(convert_numeric)

In [15]:
all_city_cars_df.head()

,modelYear,Width,Color,km,transmission,price,bt,Length,oem,ft,city,Seats,Engine Displacement_value,model,ownerNo,Insurance Validity_value,Mileage_value(Kmpl)
0,2022,1790,Black,20000,Automatic,1150000.0,SUV,3995mm,Kia,Petrol,chennai,5.0,998 cc,Kia Sonet,1,Third Party insurance,18.2 kmpl
1,2015,1475mm,Grey,20687,Manual,415000.0,Minivans,3675mm,Maruti,Petrol,chennai,7.0,1196 cc,Maruti Eeco,1,Comprehensive,15.37 kmpl
2,2021,1758,Others,30000,Manual,750000.0,SUV,3994mm,Nissan,Petrol,chennai,5.0,999 cc,Nissan Magnite,1,Third Party insurance,20 kmpl
3,2015,1595mm,Silver,59247,Manual,398000.0,Hatchback,3585mm,Hyundai,Petrol,chennai,5.0,1086 cc,Hyundai i10,1,Comprehensive,19.81 kmpl
4,2015,1694mm,Others,50000,Manual,550000.0,Hatchback,3955mm,Honda,Petrol,chennai,5.0,1199 cc,Honda Jazz,1,Third Party insurance,18.7 kmpl

In [16]:
def extract_cc(value):
    if isinstance(value, str):  # Check if the value is a string
        try:
            return int(value.split()[0])  # Extract the first part and convert to int
        except (ValueError, IndexError):
            return None
    return None  # Return None for non-string (e.g., float) values

# Apply the function to extract seat values
all_city_cars_df['Engine Displacement_value(cc)'] = all_city_cars_df['Engine Displacement_value'].apply(extract_cc)

# Convert the 'Engine Displacement_value in cc' column to integers
all_city_cars_df['Engine Displacement_value(cc)' ] = all_city_cars_df['Engine Displacement_value(cc)'].astype(int)

# Drop the old 'Engine Displacement_value' column 
all_city_cars_df.drop('Engine Displacement_value', axis=1, inplace=True)

In [17]:

all_city_cars_df.head()

,modelYear,Width,Color,km,transmission,price,bt,Length,oem,ft,city,Seats,model,ownerNo,Insurance Validity_value,Mileage_value(Kmpl),Engine Displacement_value(cc)
0,2022,1790,Black,20000,Automatic,1150000.0,SUV,3995mm,Kia,Petrol,chennai,5.0,Kia Sonet,1,Third Party insurance,18.2 kmpl,998
1,2015,1475mm,Grey,20687,Manual,415000.0,Minivans,3675mm,Maruti,Petrol,chennai,7.0,Maruti Eeco,1,Comprehensive,15.37 kmpl,1196
2,2021,1758,Others,30000,Manual,750000.0,SUV,3994mm,Nissan,Petrol,chennai,5.0,Nissan Magnite,1,Third Party insurance,20 kmpl,999
3,2015,1595mm,Silver,59247,Manual,398000.0,Hatchback,3585mm,Hyundai,Petrol,chennai,5.0,Hyundai i10,1,Comprehensive,19.81 kmpl,1086
4,2015,1694mm,Others,50000,Manual,550000.0,Hatchback,3955mm,Honda,Petrol,chennai,5.0,Honda Jazz,1,Third Party insurance,18.7 kmpl,1199

In [18]:
# Convert the 'Year of Manufacture_value ' column to integers
all_city_cars_df['modelYear'] = all_city_cars_df['modelYear'].astype(int)
all_city_cars_df.head()

,modelYear,Width,Color,km,transmission,price,bt,Length,oem,ft,city,Seats,model,ownerNo,Insurance Validity_value,Mileage_value(Kmpl),Engine Displacement_value(cc)
0,2022,1790,Black,20000,Automatic,1150000.0,SUV,3995mm,Kia,Petrol,chennai,5.0,Kia Sonet,1,Third Party insurance,18.2 kmpl,998
1,2015,1475mm,Grey,20687,Manual,415000.0,Minivans,3675mm,Maruti,Petrol,chennai,7.0,Maruti Eeco,1,Comprehensive,15.37 kmpl,1196
2,2021,1758,Others,30000,Manual,750000.0,SUV,3994mm,Nissan,Petrol,chennai,5.0,Nissan Magnite,1,Third Party insurance,20 kmpl,999
3,2015,1595mm,Silver,59247,Manual,398000.0,Hatchback,3585mm,Hyundai,Petrol,chennai,5.0,Hyundai i10,1,Comprehensive,19.81 kmpl,1086
4,2015,1694mm,Others,50000,Manual,550000.0,Hatchback,3955mm,Honda,Petrol,chennai,5.0,Honda Jazz,1,Third Party insurance,18.7 kmpl,1199

In [19]:
# Function to clean and normalize mileage values
def clean_mileage(value):
    # Check for blank or empty values
    if pd.isna(value) or str(value).strip() == '':
        return None  # Return None or 0 as preferred

    # Match numerical value with optional unit (kmpl)
    match = re.search(r"(\d*\.?\d+)\s*(kmpl)?", str(value), re.IGNORECASE)
    
    if match:
        return round(float(match.group(1)), 2)  # Return the cleaned and rounded value
    return None

# Apply the cleaning function to the 'Mileage' column
all_city_cars_df['Mileage_value(Kmpl)'] = all_city_cars_df['Mileage_value(Kmpl)'].apply(clean_mileage)

# Drop the old column
all_city_cars_df.drop('Mileage_value(Kmpl)', axis=1, inplace=True)

In [20]:
all_city_cars_df.head()

,modelYear,Width,Color,km,transmission,price,bt,Length,oem,ft,city,Seats,model,ownerNo,Insurance Validity_value,Engine Displacement_value(cc)
0,2022,1790,Black,20000,Automatic,1150000.0,SUV,3995mm,Kia,Petrol,chennai,5.0,Kia Sonet,1,Third Party insurance,998
1,2015,1475mm,Grey,20687,Manual,415000.0,Minivans,3675mm,Maruti,Petrol,chennai,7.0,Maruti Eeco,1,Comprehensive,1196
2,2021,1758,Others,30000,Manual,750000.0,SUV,3994mm,Nissan,Petrol,chennai,5.0,Nissan Magnite,1,Third Party insurance,999
3,2015,1595mm,Silver,59247,Manual,398000.0,Hatchback,3585mm,Hyundai,Petrol,chennai,5.0,Hyundai i10,1,Comprehensive,1086
4,2015,1694mm,Others,50000,Manual,550000.0,Hatchback,3955mm,Honda,Petrol,chennai,5.0,Honda Jazz,1,Third Party insurance,1199

In [21]:
# Example: Rename specific columns using a dictionary
all_city_cars_df = all_city_cars_df.rename(columns={
    'ft':'Fuel type',
    'bt':'Body type',
    'km':'kilometer driven',
    'transmission':'Transmission type',
    'ownerNo':'Number of previous owners',
    'oem':'Brand Name',
    'model':'Car model',
    'modelYear':'Year of car manufacture'
})

print(all_city_cars_df.head())

   Year of car manufacture   Width   Color  kilometer driven  \
0                     2022    1790   Black             20000
1                     2015  1475mm    Grey             20687
2                     2021    1758  Others             30000
3                     2015  1595mm  Silver             59247
4                     2015  1694mm  Others             50000

  Transmission type      price  Body type  Length Brand Name Fuel type  \
0         Automatic  1150000.0        SUV  3995mm        Kia    Petrol
1            Manual   415000.0   Minivans  3675mm     Maruti    Petrol
2            Manual   750000.0        SUV  3994mm     Nissan    Petrol
3            Manual   398000.0  Hatchback  3585mm    Hyundai    Petrol
4            Manual   550000.0  Hatchback  3955mm      Honda    Petrol

      city  Seats       Car model  Number of previous owners  \
0  chennai    5.0       Kia Sonet                          1
1  chennai    7.0     Maruti Eeco                          1
2  chennai    5.0  Nissan Magnite                          1
3  chennai    5.0     Hyundai i10                          1
4  chennai    5.0      Honda Jazz                          1

  Insurance Validity_value  Engine Displacement_value(cc)
0    Third Party insurance                            998
1            Comprehensive                           1196
2    Third Party insurance                            999
3            Comprehensive                           1086
4    Third Party insurance                           1199

In [22]:
all_city_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8293 entries, 0 to 8368
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year of car manufacture        8293 non-null   int64
 1   Width                          8286 non-null   object
 2   Color                          8290 non-null   object
 3   kilometer driven               8293 non-null   int64
 4   Transmission type              8293 non-null   object
 5   price                          8293 non-null   float64
 6   Body type                      8293 non-null   object
 7   Length                         8286 non-null   object
 8   Brand Name                     8293 non-null   object
 9   Fuel type                      8293 non-null   object
 10  city                           8293 non-null   object
 11  Seats                          8290 non-null   float64
 12  Car model                      8293 non-null   object
 13  Number of previous owners      8293 non-null   int64
 14  Insurance Validity_value       8293 non-null   object
 15  Engine Displacement_value(cc)  8293 non-null   int64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.1+ MB

In [23]:
# Drop columns where all values are NaN
all_city_cars_df = all_city_cars_df.dropna(axis=1, how='all')

print(all_city_cars_df)

      Year of car manufacture   Width   Color  kilometer driven  \
0                        2022    1790   Black             20000
1                        2015  1475mm    Grey             20687
2                        2021    1758  Others             30000
3                        2015  1595mm  Silver             59247
4                        2015  1694mm  Others             50000
...                       ...     ...     ...               ...
8364                     2022    1655  Others             10000
8365                     2014  1490mm  Others            120000
8366                     2011  1770mm  Others             50000
8367                     2012  1680mm  Others             40000
8368                     2017  1822mm  Others            120000

     Transmission type      price  Body type  Length     Brand Name Fuel type  \
0            Automatic  1150000.0        SUV  3995mm            Kia    Petrol
1               Manual   415000.0   Minivans  3675mm         Maruti    Petrol
2               Manual   750000.0        SUV  3994mm         Nissan    Petrol
3               Manual   398000.0  Hatchback  3585mm        Hyundai    Petrol
4               Manual   550000.0  Hatchback  3955mm          Honda    Petrol
...                ...        ...        ...     ...            ...       ...
8364            Manual   510000.0  Hatchback  3695mm         Maruti    Petrol
8365            Manual   180000.0  Hatchback  3395mm         Maruti    Petrol
8366         Automatic   550000.0      Sedan  4591mm  Mercedes-Benz    Petrol
8367            Manual   140000.0  Hatchback  3775mm         Maruti    Petrol
8368            Manual   500000.0        SUV  4315mm        Renault    Diesel

         city  Seats              Car model  Number of previous owners  \
0     chennai    5.0              Kia Sonet                          1
1     chennai    7.0            Maruti Eeco                          1
2     chennai    5.0         Nissan Magnite                          1
3     chennai    5.0            Hyundai i10                          1
4     chennai    5.0             Honda Jazz                          1
...       ...    ...                    ...                        ...
8364  Kolkata    5.0         Maruti Celerio                          1
8365  Kolkata    5.0        Maruti Alto 800                          1
8366  Kolkata    5.0  Mercedes-Benz C-Class                          3
8367  Kolkata    5.0            Maruti Ritz                          1
8368  Kolkata    5.0         Renault Duster                          2

     Insurance Validity_value  Engine Displacement_value(cc)
0       Third Party insurance                            998
1               Comprehensive                           1196
2       Third Party insurance                            999
3               Comprehensive                           1086
4       Third Party insurance                           1199
...                       ...                            ...
8364    Third Party insurance                            998
8365    Third Party insurance                            796
8366    Third Party insurance                           1796
8367    Third Party insurance                           1197
8368    Third Party insurance                           1461

[8293 rows x 16 columns]

In [24]:
# Drop rows where any value is NaN
all_city_cars_df = all_city_cars_df.dropna()

print(all_city_cars_df.info())  # To check how many rows remain after dropping

<class 'pandas.core.frame.DataFrame'>
Index: 8283 entries, 0 to 8368
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year of car manufacture        8283 non-null   int64
 1   Width                          8283 non-null   object
 2   Color                          8283 non-null   object
 3   kilometer driven               8283 non-null   int64
 4   Transmission type              8283 non-null   object
 5   price                          8283 non-null   float64
 6   Body type                      8283 non-null   object
 7   Length                         8283 non-null   object
 8   Brand Name                     8283 non-null   object
 9   Fuel type                      8283 non-null   object
 10  city                           8283 non-null   object
 11  Seats                          8283 non-null   float64
 12  Car model                      8283 non-null   object
 13  Number of previous owners      8283 non-null   int64
 14  Insurance Validity_value       8283 non-null   object
 15  Engine Displacement_value(cc)  8283 non-null   int64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.1+ MB
None

In [25]:
all_city_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8283 entries, 0 to 8368
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year of car manufacture        8283 non-null   int64
 1   Width                          8283 non-null   object
 2   Color                          8283 non-null   object
 3   kilometer driven               8283 non-null   int64
 4   Transmission type              8283 non-null   object
 5   price                          8283 non-null   float64
 6   Body type                      8283 non-null   object
 7   Length                         8283 non-null   object
 8   Brand Name                     8283 non-null   object
 9   Fuel type                      8283 non-null   object
 10  city                           8283 non-null   object
 11  Seats                          8283 non-null   float64
 12  Car model                      8283 non-null   object
 13  Number of previous owners      8283 non-null   int64
 14  Insurance Validity_value       8283 non-null   object
 15  Engine Displacement_value(cc)  8283 non-null   int64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.1+ MB

In [26]:
all_city_cars_df.to_csv('all_car_details.csv')